.card{
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.info{
    flex: 1;
}

.green{
    background-color: #068a36ff;
}
.red{
    background-color: 910000ff;
}

.deleteButton{
    background-color: #dc2626;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius:5px;
    font-weight: bold;
}

.expandedSection{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background:rgb(255, 255, 255); 
    border-radius: 8px;
}

.graphTitle{
    color: black;
    margin-top: -40px;
    margin-bottom: 30px;
    font-size: large;
}
.graphContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}