.card{
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    flex: 1;
}

.green{
    background-color: #068a36ff;
}
.red{
    background-color: 910000ff;
}

.deleteButton{
    background-color: #dc2626;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius:5px;
    font-weight: bold;
}


        